<section class="content">
  <div class="container-fluid">
    <section class="content mt-3">
      <div class="row">               
        <div class="col-md-12">
          <div class="card card-primary card-outline">            
            <div class="card-header with-border">
              <h3 class="card-title"><span>Branch List</span></h3>
              <div class="card-tools pull-right">
                <!--<div class="has-feedback">
                  <input type="text" id="mainSearch" class="form-control input-sm" placeholder="Search...">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>-->
                <div class="has-feedback mr-2">
                  <button type="button" class="btn btn-primary" [routerLink]="['add-edit-branch']">
                    <i class="fa fa-plus"></i> Add
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body no-padding">
              <p-table [value]="branches"
                       [tableStyle]="{ 'min-width': '100rem' }"
                       [responsive]="true"
                       selectionMode="single"
                       dataKey="id"
                       stateStorage="session"
                       stateKey="branch-session"
                       [paginator]="true"
                       [rows]="5"
                       [rowsPerPageOptions]="[5,10,15,20]">
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="city">City <p-sortIcon field="city"></p-sortIcon></th>
                    <th pSortableColumn="province">Province <p-sortIcon field="province"></p-sortIcon></th>
                    <th pSortableColumn="country">Country <p-sortIcon field="country"></p-sortIcon></th>
                    <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                    <th>Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-branch>
                  <tr>
                    <td>{{ branch.name }}</td>
                    <td>{{ branch.city }}</td>
                    <td>{{ branch.province }}</td>
                    <td>{{ branch.country }}</td>
                    <td>{{ branch.status === true ? 'Active' : 'Inactive' }}</td>
                    <td class="text-center"><a (click)="onEdit(branch)"><i class="pi pi-pencil"></i></a></td>                                      
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="5">No branches found.</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div class="card-footer no-padding">

            </div>
          </div>
          <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Info:</h4>
            <p>
              Branch office is an outlet of a Company. To get started, you should have minimum one branch as your main office or headquarter.
            </p>
          </div>
        </div>        
      </div>      
    </section>
  </div>
</section>
