<section class="content">
  <div class="container-fluid">
    <section class="content mt-3">
      <div class="row">
        <div class="col-md-9">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">{{title}}</h3>
            </div>
            <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" novalidate>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label" for="userName">User Name</label>
                          <input class="form-control" type="text" data-val-required="The User Name field is required." 
                                 id="userName" name="userName" formControlName="userName" maxlength="50" required autocomplete="off">
                          <span class="text-danger field-validation-valid" data-valmsg-for="userName" data-valmsg-replace="true"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label" for="password">Password</label>
                          <input class="form-control" type="password" data-val-required="The Password field is required."
                                 id="password" name="password" formControlName="password" maxlength="50" required autocomplete="off">
                          <span class="text-danger field-validation-valid" data-valmsg-for="password" data-valmsg-replace="true"></span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label" for="firstName">First Name</label>
                          <input class="form-control" type="text" data-val-required="The First Name field is required."
                                 id="firstName" name="firstName" formControlName="firstName" maxlength="50" required autocomplete="off">
                          <span class="text-danger field-validation-valid" data-valmsg-for="firstName" data-valmsg-replace="true"></span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label" for="lastName">Last Name</label>
                          <input class="form-control" type="text" data-val-required="The Last Name field is required."
                                 id="lastName" name="lastName" formControlName="lastName" maxlength="50" required autocomplete="off">
                          <span class="text-danger field-validation-valid" data-valmsg-for="lastName" data-valmsg-replace="true"></span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label" for="userRole">User Role</label>
                          <select class="form-control" id="userRole" name="userRole" formControlName="userRole" required>
                            <option value="">Select User Role</option>
                            <option *ngFor="let role of roles" value=role.id>{{role.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label" for="email">Email</label>
                          <input class="form-control" type="text" data-val-required="The Email field is required."
                                 id="email" name="email" formControlName="email" maxlength="50" required autocomplete="off">
                          <span class="text-danger field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label" for="mobile">Mobile</label>
                          <input class="form-control" type="text" data-val-required="The Mobile field is required."
                                 id="mobile" name="mobile" formControlName="mobile" maxlength="50" required autocomplete="off">
                          <span class="text-danger field-validation-valid" data-valmsg-for="mobile" data-valmsg-replace="true"></span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label" for="status">Status</label>
                          <select class="form-control" id="status" name="status" formControlName="status" required>
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="input-group">
                  <span class="input-group-append">
                    <button type="submit" class="btn btn-primary mr-2" [disabled]="!formGroup.valid">Save</button>
                  </span>
                  <span class="input-group-append">
                    <a class="btn btn-default mr-2" (click)="onClear()">Clear</a>
                  </span>
                  <span class="input-group-append">
                    <a class="btn btn-default" [routerLink]="['/user']">Back To List</a>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info-box bg-gradient-info">
            <span class="info-box-icon"><i class="fa fa-info"></i></span>
            <div class="info-box-content">
              <p>
                User.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</section>
<p-toast key="toastKey1"></p-toast>

