<section class="container">
  <div class="login-container">
    <div class="circle circle-one"></div>
    <div class="form-container">
      <h1>LOGIN</h1>
      <form>
        <label class="mt-4">User Name</label>
        <input type="text" placeholder="USERNAME" autocomplete="off" />

        <label class="mt-4">Password</label>
        <input type="password" placeholder="PASSWORD" autocomplete="off" class="mb-4"/>
        <button class="mt-5">SUBMIT</button>
      </form>
      <div class="register-forget">
        <a href="javascript:void(0)">REGISTER</a>
        <a href="javascript:void(0)">FORGOT PASSWORD</a>
      </div>
    </div>
    <div class="circle circle-two"></div>
  </div>
  <div class="theme-btn-container"></div>
</section>
