<section class="container">
  <div class="login-container" style="background-color: #454D70">
    <div class="circle circle-one"></div>
    <div class="form-container">
      <h1>LOGIN</h1>
      <form>
        <label class="mt-4">User Name</label>
        <input type="text" placeholder="USERNAME" autofoc autocomplete="off" />

        <label class="mt-4">Password</label>
        <input type="password" placeholder="PASSWORD" autocomplete="off" class="mb-4"/>

        <button type="submit" class="mt-5">SUBMIT</button>
      </form>
      <div class="register-forget">
        <a href="javascript:void(0)">REGISTER</a>
        <a href="javascript:void(0)">FORGOT PASSWORD</a>
      </div>
    </div>
    <div class="circle circle-two"></div>
  </div>
</section>
