<section class="content">
  <div class="container-fluid">
    <section class="content mt-3">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary card-outline">
            <div class="card-header with-border">
              <h3 class="card-title"><span>User List</span></h3>
              <div class="card-tools pull-right">
                <div class="has-feedback mr-2">
                  <!--<button type="button" class="btn btn-block btn-primary" [routerLink]="['add-edit-branch']">
                    <i class="fa fa-plus"></i> Add
                  </button>-->
                </div>
              </div>
            </div>
            <div class="card-body no-padding">
              <p-table #userTableRef
                       [value]="userLists"
                       [tableStyle]="{ 'min-width': '100rem' }"
                       [responsive]="true"
                       selectionMode="single"
                       dataKey="id"
                       stateStorage="session"
                       stateKey="statedemo-session"
                       [paginator]="true"
                       [rows]="5"
                       [globalFilterFields]="['userName','firstName','lastName','email','mobile']"
                       [rowsPerPageOptions]="[5,10,15,20]">
                <ng-template pTemplate="caption">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-10 pl-0">
                        <input type="text" class="form-input search-input" style="width:100%;height:38px" id="searchUser"
                               tabindex="1" maxlength="30"  (input) = "applyFilterGlobal($event, 'contains')" 
                               placeholder="Search by User name, First name, Last name, Email, Mobile no"
                                />
                      </div>
                      <div class="col-md-1">
                      </div>
                      <div class="col-md-1 pr-0 pl-0">
                        <button type="button" class="btn btn-block btn-primary" [routerLink]="['add-edit-user']">
                          <i class="fa fa-plus"></i>
                          ADD
                        </button>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="userName">User Name <p-sortIcon field="userName"></p-sortIcon></th>
                    <th pSortableColumn="firstName">First Name <p-sortIcon field="firstName"></p-sortIcon></th>
                    <th pSortableColumn="lastName">Last Name <p-sortIcon field="lastName"></p-sortIcon></th>
                    <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                    <th pSortableColumn="mobile">Mobile <p-sortIcon field="mobile"></p-sortIcon></th>
                    <th>Active</th>
                    <th>Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                  <tr>
                    <td>{{ user.userName }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.mobile }}</td>
                    <td>
                      <span *ngIf="user.isActive" style="color:green">Active</span><span *ngIf="!user.isActive" style="color:red">Inactive</span>
                    </td>
                    <td>
                      <a class="btn btn-primary btn-xs mr-1" (click)="onEdit(user.id)"><i class="fas fa-edit"></i></a>
                      <a class="btn btn-danger btn-xs mr-1" (click)="onDelete(user)"><i class="fa fa-trash"></i></a>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="7">No user list found.</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div class="card-footer no-padding">

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
