<section class="content">
  <div class="container-fluid">
    <section class="content mt-3">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary card-outline">
            <div class="card-header with-border">
              <h3 class="card-title"><span>Role List</span></h3>
              <div class="card-tools pull-right">
                <!--<div class="has-feedback">
                  <input type="text" id="mainSearch" class="form-control input-sm" placeholder="Search...">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>-->
                <div class="has-feedback mr-2">
                  <button type="button" class="btn btn-primary" [routerLink]="['add-edit-role']">
                    <i class="fa fa-plus"></i> Add
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body no-padding">
              <p-table [value]="roles"
                       [tableStyle]="{ 'min-width': '50rem' }"
                       selectionMode="single"
                       dataKey="id"
                       stateStorage="session"
                       stateKey="role-session"
                       [paginator]="true"
                       [rows]="5"
                       [rowsPerPageOptions]="[5,10,15,20]">
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>                                        
                    <th>Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-role>
                  <tr>
                    <td>{{ role.name }}</td>                                        
                    <td>
                      <a class="btn btn-primary btn-xs mr-1" (click)="onEdit(role)"><i class="fas fa-edit"></i></a>
                      <a class="btn btn-danger btn-xs mr-1" (click)="onDelete(role)"><i class="fa fa-trash"></i></a>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="5">No roles found.</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div class="card-footer no-padding">

            </div>
          </div>
          <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Info:</h4>
            <p>
              Role is a permission of a user. To get started, a user may have multiple roles and vice versa.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle text-danger">
  <p-footer>
    <button type="button" class="btn btn-default mr-2" pButton label="No" (click)="cd.reject()"></button>
    <button type="button" class="btn btn-primary" pButton label="Yes" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
<p-toast key="toastKey1"></p-toast>
