<section class="content">
  <div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <i class="fa fa-building"></i> Add Edit Branch
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-9">
          <!-- DIRECT CHAT PRIMARY -->
          <div class="card card-primary card-outline">
            <!--<div class="card-header">
              <h3 class="card-title">Direct Chat</h3>
            </div>-->
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <input type="hidden" data-val="true" data-val-length="The field Branch Id must be a string with a maximum length of 38." data-val-length-max="38" id="branchId" name="branchId" value="a6e1c619-3850-47aa-9325-baf021ca2226">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label" for="branchName">Name</label>
                        <input class="form-control" type="text" data-val="true" data-val-length="The field Branch Name must be a string with a maximum length of 50." data-val-length-max="50" data-val-required="The Branch Name field is required." id="branchName" maxlength="50" name="branchName" value="">
                        <span class="text-danger field-validation-valid" data-valmsg-for="branchName" data-valmsg-replace="true"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label" for="description">Description</label>
                        <input class="form-control" type="text" data-val="true" data-val-length="The field Branch Description must be a string with a maximum length of 50." data-val-length-max="50" id="description" maxlength="50" name="description" value="">
                        <span class="text-danger field-validation-valid" data-valmsg-for="description" data-valmsg-replace="true"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label" for="street1">Street Address</label>
                        <input class="form-control" type="text" data-val="true" data-val-length="The field Street Address 1 must be a string with a maximum length of 50." data-val-length-max="50" data-val-required="The Street Address 1 field is required." id="street1" maxlength="50" name="street1" value="">
                        <span class="text-danger field-validation-valid" data-valmsg-for="street1" data-valmsg-replace="true"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label" for="city">City</label>
                        <input class="form-control" type="text" data-val="true" data-val-length="The field City must be a string with a maximum length of 30." data-val-length-max="30" id="city" maxlength="30" name="city" value="">
                        <span class="text-danger field-validation-valid" data-valmsg-for="city" data-valmsg-replace="true"></span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label" for="province">Province</label>
                        <input class="form-control" type="text" data-val="true" data-val-length="The field Province must be a string with a maximum length of 30." data-val-length-max="30" id="province" maxlength="30" name="province" value="">
                        <span class="text-danger field-validation-valid" data-valmsg-for="province" data-valmsg-replace="true"></span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label" for="country">Country</label>
                        <input class="form-control" type="text" data-val="true" data-val-length="The field Country must be a string with a maximum length of 30." data-val-length-max="30" id="country" maxlength="30" name="country" value="">
                        <span class="text-danger field-validation-valid" data-valmsg-for="country" data-valmsg-replace="true"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <div class="input-group">
                <span class="input-group-append">
                  <button type="submit" class="btn btn-primary mr-2">Save</button>
                </span>
                <span class="input-group-append">
                  <a class="btn btn-default" (click)="goToList()">Back To List</a>
                </span>
              </div>
            </div>
            <!-- /.card-footer-->
          </div>
        </div>

        <div class="col-md-3">
          <div class="info-box bg-gradient-info">
            <span class="info-box-icon"><i class="fa fa-info"></i></span>
            <div class="info-box-content">
              <p>
                Branch office is an outlet of a Company. To get started, you should have minimum one branch as your main office or headquarter.
              </p>
            </div>
          </div>          
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</section>

